        .header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 55px;
            background-color:white;
            position: fixed;
            top:0px;
            left:0px;
            right: 0px;
            border-bottom-width: 1px;
            border-bottom-color:rgb(204, 204, 204);
            border-bottom-style: solid;            
        }
        .start-section{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .center-section{
            flex:1;
            margin-left:70px;
            margin-right:35px;
            max-width: 500px;
            display: flex;
            align-items: center;

        }
        .end-section{
            width:180px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-shrink: 0;
        }
        .hamburger-menu{
          height: 25px;
          margin-left: 25px;
          margin-right:25px;
        }
        .youtube-logo{
          height: 20px;
        }
        .upload,.youtube-apps,.notifications,.channel-images{
          height: 23px;
        }
        .channel-images{
          margin-right: 10px;
          border-radius: 20px;
          zoom: 150%;
        }
       
        .search-icon{
          height: 24px; 
        }
        .search-box{
          height: 40px;
          width:0;
          flex:1;
          padding-left: 10px;
          font-size: 16px;
          background-color: white;
          border-width: 0.5px;
          border-color: rgb(204, 204, 204);
          border-style: solid;
          box-shadow: inset 1px 2px 5px rgb(238, 238, 238);
          border-top-left-radius:2px ;
          border-bottom-left-radius:2px;

        }
        .search-box::placeholder{
          font-family:'Roboto', sans-serif;
          font-size: 16px;
        }
        .search-button{
          height: 44px;
          width:64px;
          background-color: rgb(247, 247, 247);;
          border-width: 0.5px;
          border-color: rgb(204, 204, 204);
          border-style: solid;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          margin-left:-1px;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .voice-search-button{
          height: 40px;
          width: 40px;
          border: none;
          border-radius: 20px;
          background-color: rgb(247, 247, 247);;
          display: flex;
          justify-content: center;
          align-items: center;
        }
         .voice-search{
          height: 24px;
        }