.sidebar{
    background-color:white;
    position:fixed;
    left: 0;
    top:56px;
    bottom:0px;
    width:72px;
    border-right-width:1px;
    border-right-style: solid;
    border-right-color: black;

}